CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/build*
/out
.vs
*.project
*.workspace
discord_bot.json
/zerotier
discord_bot_token
devilutionx-gamelist.exe
__pycache__/utils.cpython-313.pyc
__pycache__/game_manager.cpython-313.pyc
__pycache__/commands.cpython-313.pyc
